/**************************************************
Fonts
Droid Serif
Droid Sans
Droid Sans Mono

Font Scaling
6.854rem
4.236rem
2.618rem
1.618rem
1.0rem
0.618rem

Colour scheme

**************************************************/

/*Resources*/

/*Sample example*/
/*https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_website2*/

/*Viewpoer & content="width=device-width,initial-scale=1"*/
/*https://www.w3schools.com/css/css_rwd_viewport.asp*/

/*Dividing screen in to grid/column*/
/*https://www.w3schools.com/css/css_rwd_grid.asp*/

/*To resize element by pecentage on different screen size*/
/*https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/

/*background Image property*/
/*https://www.w3schools.com/css/css_rwd_images.asp*/

/*Image box shaddow effect*/
/*https://www.w3schools.com/css/css3_shadows.asp*/

@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 1s;
}

html {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Droid Sans', 'more font stack stuff', sans-serif;
}

/*************************** 
DEFAULTS - MOBILE FIRST 
***************************/
h1 {
    font: bold 4.236rem 'Droid Serif', 'more font stack stuff', serif;
    letter-spacing: 5px;
    padding-bottom: 9rem;
    color: hsla(360, 100%, 100%, 1);
    text-shadow: 4px 4px 5px hsla(0, 0%, 0%, 1);
    text-align: rtl;

}

h2 {
    font: bold 2.618rem 'Droid Serif', 'more font stack stuff', serif;
    text-shadow: -1px -1px 5px hsla(37, 96%, 31%, 1);
    text-align: center;
    padding: 1rem;
}

li,
p,
a {
    font: bold 1.618rem 'Droid Sans', 'more font stack stuff', sans-serif;
}

p {
    padding: 0.2em 0;
}

pre,
code,
kbd {
    font: normal 1.0rem 'Droid Sans Mono', 'more font stack stuff',
}

/***************************
    LAYOUT - MOBILE FIRST
***************************/
.wrapper {
    width: 95%;
    margin: 1em auto;
    box-shadow: 6px -6px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
}

header {
    width: 100%;
    padding: 4rem;
    background-color: hsla(210, 50%, 20%, 1);
    animation: ease-out 2s 1 slideInFromLeft;
    background-image: url(https://placeimg.com/800/224/nature);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px 6px 0 0;
    transition-timing-function: ease-out;
}

.navig .mainnav {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

ul.mainnav{
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    padding: 1rem 0 0 2rem;
/*    list-style-position: outside;*/
    background-color: hsla(0, 0%, 0%, 0);
/*    padding: 5rem;*/
    border: 3px solid black;
    border-radius: 5px;
}

.mainnav > .link{
    justify-content: center;
    margin: 1rem 0 1rem 0;
    border: 3px solid black;
    border-radius: 5px;
}


ul > li {
    width: 100%;
    display: flex;
/*    flex-flow: row;*/
/*    justify-content: space-around;*/
    /*    max-width: 40%;*/
}

.hr {
    display: flex;
    max-width: 100%;
/*    justify-content: space-around;*/
}

nav > ul > li{
    display: flex;
    width: 100%;
    background-color: hsla(210, 50%, 20%, 1);
/*    justify-content: center;*/
    padding: 0.5rem;
    /*    max-width: 40%;*/
}

nav li {
    display: flex;
    width: 100%;
/*    max-width: 40%;*/
    list-style: none;
}

nav a,
nav a:link,
nav a:visited {
    display: flex;
    font: bold 1.618rem 'Droid Sans', 'more font stack stuff', sans-serif;
    text-decoration: none;
    color: hsla(360, 100%, 100%, 1);
    transition: background 0.5s;
}

nav a:active,
nav a:focus,
nav a:hover {
    color: hsla(188, 100%, 63%, 1);
    animation: rubberBand 1s;
}

main {
    display: flex;
    /*    flex-flow: column;*/
    justify-content: space-between;
    /*    flex-wrap: wrap;*/
    width: 100%;
    overflow: auto;
    padding: 1rem;
    border: 3px solid black;
    /*    padding: 0 1em 1em 1em;*/
}

/*
.col {
    float: none;
    display: flex;
    flex-flow: column;
    width: 100%;
    text-align: justify;
}
*/

.col.first {
    /*    float: left;*/
/*    flex-direction: row;*/
    flex-wrap: wrap;
    width: 50%;
    max-width: 100%;
    padding: 2rem;
    text-align: justify;
    border: 3px solid black;
}

.col.second {
    /*    float: left;*/
    width: 50%;
    max-width: 100%;
    padding: 2rem;
    text-align: justify;
    border: 3px solid black;
}

.navWrap{
/*    float: none;*/
    display: flex;
    flex-flow: row;
    width: 100%;
    max-width: 100%;
/*    overflow: auto;*/
/*    position: absolute;*/
}

.navWrap > .navig{
    display: flex;
    width: 20%;
    max-width: 100%;
/*    padding: 1rem;*/
}

.navWrap > main{
    display: flex;
    width: 80%;
    max-width: 100%;
}

/*
.col.second{
    float: left;
    width: 50%;
    padding: 2rem;
    text-align: justify;
}
*/

.col img {
    display: flex;
    /*    float: left;*/
    height: auto;
    width: 90%;
    margin: 0 0 1rem 0;
/*        padding: 1rem 5rem 1rem 1rem;*/
    max-width: 100%;
    border-radius: 6px 6px 6px 6px;
    background-color: lightgray;
}

.img {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    
    border: 2px solid black;
    border-radius: 6px;
    text-align: center;
/*    padding: 1rem 5rem 1rem 1rem;*/
    padding: 1rem;
    margin: 1rem 5rem 1rem 1rem;
}



/*
img:hover{
    transform: rotate(180deg);
}
*/

p > img{
    box-shadow: 4px 4px 8px 4px hsla(210, 50%, 20%, 1);
}

p {
    margin: 1rem;
    /*    padding: 1rem;*/
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: hsla(210, 50%, 20%, 1);
}

.footer > ul {
    display: flex;
    flex-flow: row;
/*    background-color: hsla(210, 50%, 20%, 1);*/
    padding: 1rem;
}

.footer p{
    text-align: center;
    text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 1);
/*    color: hsla(360, 100%, 100%, 1);*/
    color: hsla(27, 100%, 58%, 1);
    font-size: 1.618rem;   
}

ul a {
    text-decoration: none;
    color: hsla(27, 100%, 58%, 1);
/*    color: hsla(360, 100%, 100%, 1);*/
    font-size: 1rem;
}

ul a:hover{
    color: hsla(360, 100%, 100%, 1);
    animation: tada 1s;
}



@media screen and (max-width:600px) {

    .col.first,
    .col.second,
    main {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-flow: column;
        /*    flex-direction: column;*/
        flex-wrap: wrap;
    }
    
/*
    .navWrap{
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: 50% 50%;
    }
*/
}

@media screen and (min-width: 800px) {
    
}

@media screen and (min-width: 1200px) {}
